
.header, .footer {
  background: linear-gradient(to right, #ff8888, #ff9a88);
  animation: hue-rotate-animation 60s linear infinite;
}

@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
