.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "porque porque"
        "contacto newsletter";
    gap: 2rem;
}

#porque {
    grid-area: porque;
}

#contacto {
    grid-area: contacto;
    text-align: left;
    margin: 1em;
}

#newsletter {
    grid-area: newsletter;
    text-align: center;
}